html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

p {
	font-size: 16px;
	color: #5000ca;
}

h1 {
    font-size: 3rem;
    font-weight: 500;
}

body {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    max-width: 1200px;
    margin: 0 auto;
}

.ribbon {
    display: flex;
    padding: 2rem;
    background-color: #5000ca;
    font-size: 1.3rem;
    font-weight: 500;
    color: white;
}

.bio {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40%;
    padding: 2rem;
    align-items: center;
    justify-content: center;
}

.bio-link {
    margin: 1rem;
}

.img-circle{
    border-radius: 50%;
    border:10px solid #5000ca;
}

.skill-grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40%;
    padding: 2rem;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.grid-item {
    display: flex;
    width: 25%;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 0.5rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    background-color: white;
    color: #5000ca;
    font-weight: 500;
}

.title {
    padding-bottom: 0.25rem;
    border-bottom: 0.25rem solid #5000ca;

}

.panel-container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    padding: 2rem;
    font-size: 1.3rem;
    font-weight: 500;
    color: black;
    text-align: center;
}

.panel-item {
    display: flex;
    width: 25%;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 0.5rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #5000ca;
    font-weight: 500;
    border: solid 0.1rem #5000ca;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #5000ca;
}
